@model List<Skills>

@foreach (var item in Model)
{


<div class="dizme_tm_section">
    <div class="dizme_tm_skills">
        <div class="container">
            <div class="wrapper">
                <div class="left">
                    <div class="dizme_tm_main_title wow fadeInUp" data-wow-duration="1s" data-align="left">
                        <span>Design is Life</span>
                        <h3>@item.Title</h3>
                        <p>@item.Text</p>
                    </div>
                    <div class="dodo_progress wow fadeInUp" data-wow-duration="1s">
                        <div class="progress_inner" data-value="85" data-color="#f75023">
                            <span><span class="label">@item.Name1</span><span class="number">@item.Ability1%</span></span>
                            <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
                        </div>
                        <div class="progress_inner" data-value="95" data-color="#1cbe59">
                            <span><span class="label">@item.Name2</span><span class="number">@item.Ability2%</span></span>
                            <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
                        </div>
                        <div class="progress_inner" data-value="75" data-color="#8067f0">
                            <span><span class="label">@item.Name3</span><span class="number">@item.Ability3%</span></span>
                            <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <img src="~/myimg/@item.ImageUrl" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
}